$color-p: #3a5cd1;
$color-white: #fff;
$color-light-gray: #eff2f5;
$color-mid-gray: #96a0b5;
$color-dark-gray: #6d7d93;
$color-dark: #182550;
$color-red: #d13a3a;
$color-success: linear-gradient(45deg, #019871, #a0ebcf);