#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 14px;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

body {
  position: relative;
  overflow: auto;
}
